
.beach {
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 30px;
      padding-top: 10px;
      width: 30%;
      text-align: center;
}

.beach img {
  max-width: 80%;
}

.beach .beach_name {
  margin-bottom: 5px;
  font-size: 13px;
  color: #a31717;
}

